{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Analysis #{{ result.id }}{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>

  <div>
    <h3>Metadata:</h3>
    {{ macros.render_metadata(result.metadata) }}
  </div>
  <div>
    <h3>Custom fields:</h3>
    {{ macros.display_table([
      ("Custom fields", macros.render_customfields(result.customfields))]) }}
  </div>
  <div>
    <h3>Results:</h3>
    {% for res in result.results %}
      <a href="{{ url_for('result_elem_html', id=res.id) }}">#{{ res.id
         }}</a>
    {% endfor %}
</div>

{% endblock %}
