<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/base.css') }}" />
    <title>{% block title %} {% endblock %} | debcocci</title>
    {% endblock %}
  </head>
  <body>
    <h1>debcocci{% if title %} - {{ title }}{% endif %}</h1>
    <hr />
    <div id="leftmenu">
      <h2>Find</h2>
      
      <strong>Filter</strong> by package:
      <form name="filter-by-package"
            action="{{ url_for('filter_html') }}" method="GET">
        <input type="text" name="package" />
        <input type="submit" value="Search" />
      </form>
      
      <ul>
        <li><a href="{{ url_for('analysis_list_html') }}">
            All analyses</a></li>
        <li><a href="{{ url_for('result_list_html') }}">
            All results</a></li>
        <li><a href="{{ url_for('sut_list_html') }}">
            All software</a></li>
        <li><a href="{{ url_for('generator_list_html') }}">
            All generators</a></li>
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
