<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/base.css') }}" />
    <title>{% block title %} {% endblock %} | debcocci</title>
    {% endblock %}
  </head>
  <body>
    <h1>debcocci{% if title %} - {{ title }}{% endif %}</h1>
    <hr />
    <div id="leftmenu">
      <h2>Menu</h2>
      <ul>
        <li><a href="{{ url_for('analysis_list_html') }}">Analyses</a></li>
        <li><a href="{{ url_for('result_list_html') }}">Results</a></li>
        <li><a href="{{ url_for('sut_list_html') }}">Software</a></li>
        <li><a href="{{ url_for('generator_list_html') }}">Generators</a></li>
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
