{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Filter{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>

{% if list %}

{% if previous_result %}
  [<a href="{{ url_for('filter_html', packagename=filter.packagename,
           id=previous_result, packageversion=filter.packageversion,
           generator=filter.generator) }}">previous</a>]
  {% else %}
  [previous]
  {% endif %}
  #{{ current_result.Result.id }}
  {% if current_result_range %}
    ({{ current_result_range }}/{{ list|length}})
  {% endif %}
  {% if next_result %}
  [<a href="{{ url_for('filter_html', packagename=filter.packagename,
           id=next_result, packageversion=filter.packageversion,
           generator=filter.generator) }}">next</a>]
  {% else %}
  [next]
  {% endif %}
  <br />
  
  <h3>Metadata</h3>
  {{ macros.render_metadata(current_result.Metadata) }}
  
  <h3>Result</h3>
  {{ macros.render_result(current_result.Result) }}
  
{% else %}
  No results found!
{% endif %}
{% endblock %}
