{% macro render_analysis(analysis) %}
  <strong>Id:</strong> {{ analysis.id }}
  <br />
  <strong>Metadata:</strong> {{ render_metadata(analysis.metadata) }}
  <strong>Custom fields:</strong> {{
  render_customfields(analysis.customfields) }}
{% endmacro %}

{% macro render_generator(generator) %}
  {{ generator.name }}
  {% if generator.version %}({{ generator.version }}){% endif %}
{% endmacro %}

{% macro render_metadata(metadata) %}
  Generator: {{ render_generator(metadata.generator) }}
  <br />
  Sut: {{ render_sut(metadata.sut) }}
  <br />
  File: {{ render_file(metadata.file) }}
  <br />
  Stats: {{ render_stats(metadata.stats) }}
{% endmacro %}

{% macro render_stats(stats) %}
  Time: {{ stats.wallclocktime }}
{% endmacro %}

{% macro render_sut(sut) %}
  ({{ sut.type }}) - {{ sut.name }} ({{ sut.version }})
  {% if sut.release %}({{ sut.release }}){% endif %}
  {% if sut.buildarch %}({{ sut.buildarch }}){% endif %}
{% endmacro %}

{% macro render_issue(issue) %}
  <div id="issue">
    <div class="infos">
      <strong>Common weakness enumeration:</strong> {{ issue.cwe }}
      <br />
      <strong>Severity:</strong> {{ issue.severity }}
      <br />
      {% if issue.message %}
        <strong>Message:</strong> {{ render_message(issue.message) }}
        <br />
      {% endif %}
      <strong>Notes:</strong> {{ render_notes(issue.notes) }}
    </div>
    <div class="location">
      <strong>Location:</strong> {{ render_location(issue.location) }}
    </div>
    <div class="trace">
      <strong>Trace: </strong> {{ render_trace(issue.trace) }}
    </div>
    <div class="customfields">
      <strong>Custom fields:</strong> {{
      render_customfields(issue.customfields) }}
    </div>
  </div>
{% endmacro %}

{% macro render_failure(failure) %}
  <strong>Message:</strong> {{ render_message(failure.message) }}
  <br />
  <strong>Location:</strong> {{ render_location(failure.location) }}
  <br />
  <strong>Custom fields:</strong> {{
  render_customfields(failure.customfields) }}
{% endmacro %}

{% macro render_info(info) %}
  <strong>Message:</strong> {{ render_message(info.message) }}
  <br />
  <strong>Location:</strong> {{ render_location(info.location) }}
  <br />
  <strong>Custom fields:</strong> {{
  render_customfields(info.customfields) }}
{% endmacro %}

{% macro render_message(message) %}
  {{ message.text }}
{% endmacro %}


{% macro render_notes(notes) %}
  {{ notes.text }}
{% endmacro %}

{% macro render_trace(trace) %}
  {% for state in trace.states %}
    {{ render_state(state) }}
  {% endfor %}
{% endmacro %}

{% macro render_state(state) %}
  <div style="display: none;">
    <strong>Location:</strong> {{ render_location(state.location) }}
    <br />
    <strong>Message:</strong> {{ render_message(state.notes) }}
  </div>
{% endmacro %}

{% macro render_location(location) %}
  <strong>File:</strong> {{ render_file(location.file) }}
  <br />
  <strong>Function:</strong> {{ render_function(location.function) }}
  <br />
  {% if location.point %}{{ render_point(location.point) }}
  {% elif location.range %}{{ render_range(location.range) }}
  {% endif %}
{% endmacro %}

{% macro render_file(file) %}
  <strong>Given path:</strong> {{ file.givenpath }}
  <br />
  {% if file.abspath %}- ({{ file.abspath }}){% endif %}
  <br />
  <strong>Hash:</strong> {{ render_hash(file.hash_) }}
{% endmacro %}

{% macro render_hash(hash) %}
  alg: {{ hash.alg }}
  hexdigest: {{ hash.hexdigest }}
{% endmacro %}

{% macro render_function(function) %}
  function {{ function.name }}
{% endmacro %}

{% macro render_point(point) %}
  {{ point.line }}:{{ point.column }}
{% endmacro %}

{% macro render_range(range) %}
  {{ render_point(range.start) }} - {{ render_point(range.end) }}
{% endmacro %}

{% macro render_customfields(customfields) %}
  {% if customfields %}<strong>TODO</strong>{% endif %}
{% endmacro %}
