{% macro display_table(telems) %}
  <table>
    {% for (name, content) in telems %}
    <tr>
      <td class="rowname">{{ name }}</td>
      <td>{{ content }}</td>
    </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% macro render_result(result) %}
{% if result.type == "issue" %}

{{ display_table([
      ("Type", "Issue"),
      ("CWE", result.cwe),
      ("Severity", result.severity),
      ("Message", render_message(result.message)),
      ("Notes", render_notes(result.notes)),
      ("Location", render_location(result.location)),
      ("Trace", render_trace(result.trace)),
      ("Custom fields", render_customfields(result.customfields))]) }}


{% elif result.type == "failure" %}

  {{ display_table([
      ("Type", "Failure"),
      ("Message", render_message(result.message)),
      ("Location", render_location(result.location)),
      ("Custom fields", render_customfields(result.customfields))]) }}

{% elif result.type == "info" %}

  {{ display_table([
      ("Type", "Info"),
      ("Message", render_message(result.message)),
      ("Location", render_location(result.location)),
      ("Custom fields",
      render_customfields(result.customfields))]) }}
{% endif %}

{% endmacro %}

{% macro render_generator(generator) %}
  {{ generator.name }}
  {% if generator.version %}({{ generator.version }}){% endif %}
{% endmacro %}

{% macro render_stats(stats) %}
  Time: {{ stats.wallclocktime }}
{% endmacro %}

{% macro render_sut(sut) %}
  ({{ sut.type }}) - {{ sut.name }} ({{ sut.version }})
  {% if sut.release %}({{ sut.release }}){% endif %}
  {% if sut.buildarch %}({{ sut.buildarch }}){% endif %}
{% endmacro %}

{% macro render_message(message) %}
  {{ message.text }}
{% endmacro %}

{% macro render_notes(notes) %}
  {{ notes.text }}
{% endmacro %}

{% macro render_trace(trace) %}
  {% for state in trace.states %}
    {{ render_state(state) }}
  {% endfor %}
{% endmacro %}

{% macro render_state(state) %}
  <div style="display: none;">
    <strong>Location:</strong> {{ render_location(state.location) }}
    <br />
    <strong>Message:</strong> {{ render_message(state.notes) }}
  </div>
{% endmacro %}

{% macro render_location(location) %}
  <strong>File:</strong> {{ render_file(location.file) }}
  <br />
  <strong>Function:</strong> {{ render_function(location.function) }}
  <br />
  {% if location.point %}<strong>Point:</strong>
    {{ render_point(location.point) }}
  {% elif location.range %}<strong>Range:</strong>
    {{ render_range(location.range) }}
  {% endif %}
{% endmacro %}

{% macro render_file(file) %}
  {% if file %}
  {{ file.givenpath }}
  {% if file.abspath %}- ({{ file.abspath }}){% endif %}
  <br />
  <strong>Hash:</strong> {{ render_hash(file.hash_) }}
  {% endif %}
{% endmacro %}

{% macro render_hash(hash) %}
  {{ hash.alg }} / {{ hash.hexdigest }}
{% endmacro %}

{% macro render_function(function) %}
  {{ function.name }}
{% endmacro %}

{% macro render_point(point) %}
  {{ point.line }}:{{ point.column }}
{% endmacro %}

{% macro render_range(range) %}
  {{ render_point(range.start) }} - {{ render_point(range.end) }}
{% endmacro %}

{% macro render_customfields(customfields) %}
  {% if customfields %}<strong>TODO</strong>{% endif %}
{% endmacro %}
