{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Filter list{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>

{{ list|length }} results

<ul id="filterlist">
  {% for res in list %}
  <li>
    <small><span class="color-{{ res.type }}">[{{ res.type }}]</span></small>
    <strong>{{ res.Sut.name }} ({{ res.Sut.version }})</strong> in
    {{ res.givenpath }}
    {% if res.Range %}
      range (TODO)
    {% else %}
      ({{ res.Point.line }}:{{ res.Point.column }})
    {% endif %}
    :<br />
    {{ res.text }}
    <small>
      <a href="{{ url_for('.result_elem_html', id=res.id) }}">details</a>
    </small>
  </li>
  {% endfor %}
</ul>

{% endblock %}
