{% import "macros.inc.html" as macros %}
<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename=config['CSS_FILE']) }}" />
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}" />
    
    <title>{% block title %} {% endblock %} | debcocci</title>
    {% endblock %}
  </head>
  <body>
    <div id="header">
      <div id="upperheader">
        <div id="logo">
          <a href="http://debian.org" title="Debian Home"><img src="{{ url_for('static', filename='img/debian-50.png') }}" alt="Debian"></a>
        </div> <!-- end logo -->
        <p class="section"><a href="/">Debcocci</a></p>
      </div> <!-- end upperheader -->
      <!--UdmComment-->
      <div id="navbar">
        <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </div> <!-- end navbar -->
      <p id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</p>
    </div> <!-- end header -->
    
    <div id="leftmenu">
      <h2>Filter results</h2>
      {#{ macros.display_searchform(searchform, filter) }#}
      
      <h2>Other</h2>
      <ul>
        <li><a href="{{ url_for('.analysis_list_html') }}">
            All analyses</a></li>
        <li><a href="{{ url_for('.result_list_html') }}">
            All results</a></li>
        <li><a href="{{ url_for('.sut_list_html') }}">
            All software</a></li>
        <li><a href="{{ url_for('.generator_list_html') }}">
            All generators</a></li>
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
