#leftmenu {
    float: left;
    width: 200px;
    background-color: #f7f7f7;
    padding: 10px;
    padding-top: 0px;
}

#content {
    padding-left: 240px;
}

table {
    border: 1px solid black;
}

table .rowname {
    background-color: #eeeeee;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.bg_1 {
    background-color: #9ACFF5;
}

.bg_2 {
    background-color: #CEE4F5;
}

.bg_3 {
    background-color: #F79492;
}

.bg_4 {
    background-color: #E6413E;
}