#leftmenu {
    float: left;
    width: 200px;
}

#content {
    padding-left: 200px;
}


.bg_1 {
    background-color: #9ACFF5;
}

.bg_2 {
    background-color: #CEE4F5;
}

.bg_3 {
    background-color: #F79492;
}

.bg_4 {
    background-color: #E6413E;
}