#issue .infos {
    background-color: #9ACFF5;
}

#issue .location {
    background-color: #CEE4F5;
}

#issue .trace {
    background-color: #F79492;
}

#issue .customfields {
    background-color: #E6413E;
}